body, html {
  height: 100%;
  margin: 0;
}

.map-img {
  height: 100vh;
  width: 100vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
}

.map-img-reset {
  cursor: -webkit-zoom-out; cursor: -moz-zoom-out;
}
